<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Example</title>
	<link rel="stylesheet" href="" th:herf="@{/css/myStyle.css}" />
</head>
<body>
	<div class="container">
		<h1>Adding CSS,Javascript and Image in thymeleaf</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis itaque architecto voluptate dolorem consequatur ullam quis dicta vero. Commodi labore adipisci vel quis ipsa? At ab tempore necessitatibus veniam dicta nesciunt odio obcaecati dolores quia incidunt voluptatibus odit porro quo aliquid quod mollitia atque ipsam praesentium. Reiciendis nisi quidem architecto.</p>
	</div>
</body>
</html>